*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family: headerFont;
    src:url("../fonts/colored pencils.ttf");
}
#backgroundContainer{
    background-image: url("../img/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right:10px;
    }
#headerContainer{
    font-family: headerFont;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: rgb(84, 82, 85);
    text-shadow: 0px 3px 5px rgb(255, 255, 255); 
    padding-top: 30px;
   }
#nameContainer{
    font-family: headerFont;
    width: 100vw;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(159,156,161);
    text-shadow: 1px 3px 3px rgb(0, 0, 0);
    padding-bottom: 30px;
   }

